{% extends 'index.html' %}
{% block content %}
	<h1 style="text-align: center">Ajuda</h1>

	<div class="descricao" style="width: 45%; font-size: medium; align-content: center; margin-left: 30%; color: white; border-radius: 10px; margin-top: 40px; background-color: #1b6d85;">

		<p style="width:70%; text-align: center; margin-left: 15%;">
			<b style="color: #999999">Como configurar a rede?</b>
		</p>
		<p style="width:70%; text-align: center; margin-left: 15%;">
			Para configurar a rede, basta acessar a página "Configuração da Rede", preencher os
			campos de acordo com a parametrização desejada e clicar em Executar.
		</p>
		<p style="width:70%; text-align: center; margin-left: 15%;">
			<b style="color: #999999">Preciso configurar a rede?</b>
		</p>
		<p style="width:70%; text-align: center; margin-left: 15%;">
			Não é preciso configurar a rede para utilizá-la! A Rede Neural Artificial utilizada
			neste projeto possui uma configuração default, escolhida de forma empírica.
		</p>

		<p style="width:70%; text-align: center; margin-left: 15%;">
			<b style="color: #999999">Como ensinar a rede?</b>
		</p>
		<p style="width:70%; text-align: center; margin-left: 15%;">
			Para que a rede possa aprender, basta que a utilize. Ao final da execução do sistema,
			basta informar a rede se sua resposta foi correta ou não. Caso a resposta não seja
			correta, ou seja, o treino não seja adequado ao cliente, informe a rede e selecione
			o treino adequado. Com o tempo de utilização, a rede vai se adaptar a forma de trabalho
			do Funcionário que a utiliza, acertando cada vez mais treinos.
		</p>

		<p style="width:70%; text-align: center; margin-left: 15%;">
			<b style="color: #999999">Como resetar o conhecimento da rede?</b>
		</p>
		<p style="width:70%; text-align: center; margin-left: 15%;">
			Para resetar o conhecimento da rede, ou alterá-lo de alguma forma, inserindo ou
			editando conhecimento manualmente, basta utilizar o login de administrador, o qual possui
			ID = admin, senha = admin. Fazendo este login, na página de administração, você terá
			acesso ao conhecimento da rede, podendo alterá-la, visualizá-la ou excluí-la.
		</p>

	</div>
{% endblock %}