{% extends 'index.html' %}
{% block content %}
	<h1 style="text-align: center">Integrantes</h1>

	<div class="descricao" style="width: 50%; font-size: medium; align-content: center; margin-left: 25%; color: white; border-radius: 10px; margin-top: 40px; background-color: #1b6d85;">

		<p style="width:80%; text-align: center; margin-left: 10%;">
			Rafael Fazzolino - Engenheiro de Conhecimento - fazzolino29@gmail.com</p>
		<p style="width:80%; text-align: center; margin-left: 10%;">
			Lucilene Rodrigues do Amorim - Especialista - lu.lrarodrigues11@gmail.com
		</p>
		<p style="width:80%; text-align: center; margin-left: 10%;">
			Moacir - Especialista - moacir@gmail.com
		</p>
		<p style="width:80%; text-align: center; margin-left: 10%;">
			Roberto - Especialista - roberto@gmail.com
		</p>

	</div>
{% endblock %}